body{
    font-family: 'Poppins', sans-serif;
    margin: 0%;
}
.font-colour{
    color: orange;
}
h1{
    font-size: 40px;
}
.top-float{
    width: 40%;
    float: left;
    margin-left: 5%;
    padding-left: 2%;
}
.top-float img{
    width: 100%;
}
.top-banner{
    background-image: url(images/top-banner.png);
    background-repeat: no-repeat ;
    height: 500px;
}
section{
    height: 500px;
    padding-bottom: 150px;
}
p{
    color: dimgray;
}
.batton{
    text-decoration: none;
    background-image: linear-gradient(90deg, lightsalmon, tomato);
    padding: 10px 30px;
    border-radius: 5px;
    color: white;
    font-weight: 700;
}
h2{font: 600;}